* {
  background-color: #2a2438
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.square {

  border: 1px solid black;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 75px;

  padding: 0;
  text-align: center;
  width: 75px;
}

.game {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 1200px;

}

#game-info {
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  margin: 40px;
  border: 3px ridge black;
}

#game-info-title {
  background-color: #dbd8e3;
  font-size: 50px;
}

#game-info-text {
  font-size: 20px;
  overflow: scroll;
  width: 200px;
  height: 300px;
  background-color: #5c5470;
}

#game-info-text div {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #5c5470;
}

.square img {
  background: transparent;
  filter: drop-shadow(0 0 1px black);
}

.square img:not([src]) {
  visibility: hidden;
}